/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  height: 100vh;
  background: url(./assets/img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
  overflow-x: hidden;
}
@font-face {
  font-family: "Geometria";
  src: url("./assets/fonts/geometria_medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NeueBit";
  src: url("./assets/fonts/NeueBit-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}
* {
  font-family: "Geometria";
  color: #fff;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header .wrapper {
  max-width: 90%;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  height: 75px;
}
.header_menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.header_menu a {
  cursor: pointer;
}
.header_submenu {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  flex-direction: column;
  row-gap: 15px;
  width: 70px;
  padding-top: 20px;
}
.header_submenu.open {
  display: flex;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.header_submenu a {
  text-decoration: underline;
}
.header_menu a:hover {
  text-shadow: 0px 0px 10px #fff;
}
.header_menu_link:hover .services:not(.open) {
  display: flex;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: both;
}
.services {
  z-index: 9;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(17 32 82); /* color of the scroll thumb */
  border-radius: 15px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
.cases {
  top: 110%;
  left: 0px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  overflow-y: auto;
  z-index: 3;
}
.cases_link {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 0;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.contact_list {
  display: flex;
  column-gap: 50px;
}
.contact_list img {
  width: 35px;
  height: 35px;
}
.contact_link {
  text-decoration: underline;
}

.main {
  height: 100%;
  position: relative;
}
.main_link {
  position: absolute;
  z-index: 1;
}
.link_border {
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #fff;
}
.why {
  top: 30%;
  left: 15%;
}
.comands {
  top: 35%;
  right: 30%;
}
.price {
  bottom: 15%;
  left: 25%;
}
.vision {
  bottom: 25%;
  right: 35%;
}

.heart {
  position: absolute;
  top: 35%;
  left: 13%;
}
.heart:hover {
  filter: drop-shadow(0 0 10px #fff);
}
.heart img {
  animation: puls 0.75s linear infinite alternate;
}
@keyframes puls {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.cards.open {
  display: flex;
}
.cards {
  position: absolute;
  top: 20%;
  left: 30%;
  display: none;
  column-gap: 15px;
  z-index: 3;
}
.card {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  row-gap: 10px;
}
.card_image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.card_desc {
  font-size: 14px;
}

.popup {
  display: none;
  position: fixed;
  max-width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 125px;
  bottom: 90px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  padding: 30px;
  z-index: 2;
  border-radius: 15px;
  overflow: auto;
}
.popup_content {
  text-align: center;
}
.cards .popup_close {
  z-index: 4;
}
.popup_close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.popup_close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.popup_title {
  font-size: 24px;
  margin-bottom: 15px;
}
.popup_desc {
  font-size: 16px;
}
.popup_desc p {
  margin-bottom: 10px;
}

.page_loader.open {
  display: flex;
}
.page_loader {
  background: url(./assets/img/background1.jpg) no-repeat;
  position: fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page_loader h2 {
  font-size: 38px;
}
.page_loader h3 {
  font-size: 20px;
}
.page_loader_body {
  display: flex;
  margin-top: 15px;
  padding: 5px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
}
.page_loader_item {
  position: relative;
  width: 120px;
  height: 25px;
}
.page_loader_1 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.page_loader_4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.page_loader_item::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(29, 55, 141);
  animation: load 3s linear;
  animation-fill-mode: forwards;
}
@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.page_loader_1::before {
  animation-delay: 0s;
}
.page_loader_2::before {
  animation-delay: 3s;
}
.page_loader_3::before {
  animation-delay: 6s;
}
.page_loader_4::before {
  animation-delay: 9s;
}
.page_loader_item::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%);
}
.page_loader_1::after {
  content: "Технологии";
}
.page_loader_2::after {
  content: "Креатив";
}
.page_loader_3::after {
  content: "Визуал";
}
.page_loader_4::after {
  content: "Продвижение";
}

.contacts_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
.contacts_form__label {
  position: relative;
}
.contacts_form__label::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 5px;
  display: inline-block;
  padding: 0 5px;
}
.contacts_name::before {
  content: "Имя";
}
.contacts_email::before {
  content: "Email";
}
.contacts_comment::before {
  content: "Комментарий";
}
.contacts_form__label input {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 8px;
}
.contacts_form__label input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contacts_form_popup.open {
  display: flex;
  animation: show 1s linear;
  animation-fill-mode: forwards;
}
.contacts_form_popup.close {
  display: flex;
  animation: hide 1s linear;
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {
    right: -5%;
    opacity: 0;
  }
  100% {
    right: 5%;
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: -5%;
    opacity: 0;
  }
}

.contacts_form_popup {
  display: none;
  flex-direction: column;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  right: 5%;
  bottom: 90px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  padding: 15px;
  z-index: 2;
  border-radius: 15px;
}

.copy_email {
  font-size: 14px;
  margin-bottom: 25px;
}
.contact_list_email {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header_logo {
    height: 50px;
  }
  .header_menu {
    column-gap: 25px;
  }
  .header_menu a {
    font-size: 12px;
  }
  .contact_list {
    column-gap: 25px;
  }
  .contact_link {
    font-size: 12px;
    text-align: right;
  }
  .cases {
    width: 163px;
  }
  .cases iframe {
    width: 133px !important;
  }
  .comands {
    top: 45%;
    right: 15%;
  }
  .price {
    left: 15%;
  }
  .vision {
    right: 20%;
  }
  .contacts_form_popup {
    width: 90%;
  }
  .popup_title {
    font-size: 20px;
  }
  .popup_desc p {
    font-size: 14px;
  }
  .header .wrapper{
    margin: 15px auto;
  }
  .cards {
    top: 75px;
    bottom: 90px;
    width: 90%;
    left: 5%;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 15px;
  }
  .cards .card{
    max-width: 100%;
  }
}
