/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}












body {
  height: 100vh;
  background: url(./assets/img/background1.jpg) no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
}
@font-face {
  font-family: "Geometria";
  src: url("./assets/fonts/geometria_medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NeueBit";
  src: url("./assets/fonts/NeueBit-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}
* {
  font-family: "Geometria";
  color: #fff;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.header .wrapper {
  max-width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  height: 75px;
}
.header_right {
  /* padding-top: 22px; */
}
.header_menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.header_menu a {
  cursor: pointer;
}
.header_submenu {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  flex-direction: column;
  row-gap: 15px;
  width: 70px;
  padding-top: 20px;
}
.header_submenu.open {
  display: flex;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.header_submenu a {
  text-decoration: underline;
}
.header_menu a:hover {
  text-shadow: 0px 0px 10px #fff;
}
.header_menu_link:hover .header_submenu:not(.open) {
  display: flex;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: both;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.footer {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 0;
}
.footer .wrapper{
  display: flex;
  justify-content: space-between;
}

.contact_list {
  display: flex;
  column-gap: 50px;
}
.contact_list img {
  width: 35px;
  height: 35px;
}
.contact_link{
  text-decoration: underline;
}


.main {
  height: 100%;
  position: relative;
}
.main_link {
  position: absolute;
}
.link_border {
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #fff;
}
.why{
  top: 30%;
  left: 15%;
}
.comands{
  top: 35%;
  right: 30%;
}
.price{
  bottom: 15%;
  left: 25%;
}
.vision{
  bottom: 25%;
  right: 35%;
}

.heart{
  position: absolute;
  top: 35%;
  left: 13%;
}
.heart:hover{

  filter: drop-shadow(0 0 10px #fff);
}
.heart img{
  animation: puls 0.75s linear infinite alternate;

}
@keyframes puls {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}